*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.system{
    height: 100vh;
    width: 100%;
}
.button-section{
    display: flex;
    justify-content: center;
    height: 20vh;

}
.bijli-section{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    height: 50vh;

}

.switch{
    margin-top: 4vh;
    height: 100px;
    width: 100px;

}
.warning {
    margin-top: 5vh;
    position: relative;
    visibility: hidden ;
    display: inline-block;
    bottom: 0px;
    left: 38%;
    font-size: 40px;
    color: red;
    font-weight: 600;
}